.actions-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10%;

  ion-button {
    width: 150px;
  }
}

.card{
  @media screen and (min-width: 1240px){
    width: 35%;
    align-self: center;
  }
  
}

.actions-container{
  @media screen and (min-width: 1240px){
    gap: 10%;
    justify-content: center;
  }
}
  