<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cards
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- <ion-header  >
    <ion-toolbar>
      <ion-title size="large">Card example</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div class="main-container">

    @if(firstPlay()){
    <div class="first-play-menu">


      <ion-button class="first-draw-btn ion-padding" size="large" (click)="firstPlay.set(false);" ion-button
        fill="solid" shape="round" size="large" color="primary">Draw
        first card
        <ion-icon slot="end" name="images-sharp"></ion-icon> </ion-button>

      <ion-button class="ion-padding" size="large" (click)="firstPlay.set(false);" ion-button fill="outline"
        shape="round" size="large" color="primary">See last cards
        <ion-icon slot="end" name="images-sharp"></ion-icon> </ion-button>


      <ion-button class="ion-padding" ion-padding size="large" (click)="firstPlay.set(false);" ion-button fill="outline"
        shape="round" size="large" color="warning">Looking for a challenge?
        <ion-icon slot="end" name="images-sharp"></ion-icon> </ion-button>
    </div>
    }@else if (playerDeck().length === 0) {


    <ion-button class="shuffleButton " (click)="shuffleDeck()" ion-button fill="outline" shape="round" size="large"
      color="primary">Shuffle
      again<ion-icon slot="end" name="images-sharp"></ion-icon> </ion-button>
    }@else {
    <ion-card style="height: 70%;">
      <img alt="Silhouette of mountains" [src]="actualCard().image" />
      <div style="display:flex; flex-direction: column;">
        <ion-card-header>
          <ion-card-title>{{actualCard().title}}</ion-card-title>
          <ion-card-subtitle>{{actualCard().subtitle}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          {{actualCard().description}}
        </ion-card-content>

        <!--  <div class="submit-card-btn">
    <ion-button fill="clear" color="warning">Skip</ion-button>
    <ion-button fill="clear" color="success">Done</ion-button>
  </div> -->
      </div>
    </ion-card>
    <div style="gap:1em; width:300px;display:flex; flex-direction: column; align-items: center;">
      <ion-button style="height:10%; width:inherit" (click)="addToCompletePile(); this.drawNextCard();" ion-button
        fill="solid" shape="round" size="large" color="primary">Done <ion-icon slot="end"
          name="checkmark-done-circle-outline"></ion-icon> </ion-button>

      <ion-button style="height:10%; width:inherit" (click)="addToSkippedPile(); this.drawNextCard()" ion-button
        fill="solid" shape="round" size="large" color="warning"> Skip <ion-icon slot="end"
          name="play-skip-forward-circle-outline"></ion-icon> </ion-button>

    </div>


    }


  </div>

</ion-content>
