<ion-content [fullscreen]="true" class="ion-padding"  >
  <ion-item class="ion-no-margin title" style="margin-top:20%">
    <ion-label>
      <h1 class="ion-text-center  "> You won the {{this.medal.message}} medal </h1>
    </ion-label>
  </ion-item>

  <div class="center-content"   >
       <img [src]="this.medal.image" alt="">
     
  </div>

 
  <div class="center-content" >


    <ion-button class="shuffleButton " (click)="onRestartGame()" ion-button fill="outline" shape="round" size="large"
      color="primary">Shuffle
      again<ion-icon slot="end" name="images-sharp"></ion-icon> </ion-button>
  </div>
</ion-content>